.cmake/
.idea/
CMakeFiles
Testing/
deps/
CMakeFiles
Makefile
cmake_install.cmake
*.a
build.ninja
CMakeCache.txt
.ninja_deps
.ninja_log
src/lib/relay-daemon
src/deps.clean1869463330/deps.clean/piot
src/lib/users.txt
deps*/
.vscode/
build/
